In [1]:
import pandas as pd

# Specify the index of the table you want to scrape
table_index = 0

# Read in the table from the webpage
table_list = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table', match='Summer Olympic Games', header=0, index_col=0)

# Select the table using the specified index
df = table_list[0]

df.head()

,Summer Olympic Games,Summer Olympic Games.1,Summer Olympic Games.2,Summer Olympic Games.3,Summer Olympic Games.4,Winter Olympic Games,Winter Olympic Games.1,Winter Olympic Games.2,Winter Olympic Games.3,Winter Olympic Games.4,Combined total,Combined total.1,Combined total.2,Combined total.3,Combined total.4
Team,,,,,,,,,,,,,,,
.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Team (IOC code),No.,NaN,NaN,NaN,NaN,No.,NaN,NaN,NaN,NaN,No.,NaN,NaN,NaN,NaN
Afghanistan (AFG),15,0.0,0.0,2.0,2.0,0,0.0,0.0,0.0,0.0,15,0.0,0.0,2.0,2.0
Algeria (ALG),14,5.0,4.0,8.0,17.0,3,0.0,0.0,0.0,0.0,17,5.0,4.0,8.0,17.0
Argentina (ARG),25,21.0,26.0,30.0,77.0,20,0.0,0.0,0.0,0.0,45,21.0,26.0,30.0,77.0
Armenia (ARM),7,2.0,8.0,8.0,18.0,8,0.0,0.0,0.0,0.0,15,2.0,8.0,8.0,18.0

In [2]:
# iloc[row, column]

summer = df.iloc[1:, :5]
summer

,Summer Olympic Games,Summer Olympic Games.1,Summer Olympic Games.2,Summer Olympic Games.3,Summer Olympic Games.4
Team,,,,,
Afghanistan (AFG),15,0.0,0.0,2.0,2.0
Algeria (ALG),14,5.0,4.0,8.0,17.0
Argentina (ARG),25,21.0,26.0,30.0,77.0
Armenia (ARM),7,2.0,8.0,8.0,18.0
Australasia (ANZ) [ANZ],2,3.0,4.0,5.0,12.0
...,...,...,...,...,...
Zimbabwe (ZIM) [ZIM],14,3.0,4.0,1.0,8.0
Independent Olympic Athletes (IOA) [IOA],3,1.0,0.0,1.0,2.0
Independent Olympic Participants (IOP) [IOP],1,0.0,1.0,2.0,3.0
Mixed team (ZZX) [ZZX],3,11.0,6.0,8.0,25.0
Totals,29,5460.0,5429.0,5892.0,16781.0

In [3]:
summer.columns = ['경기 수', '금', '은', '동', '계']
summer.head()

                        경기 수     금     은     동     계
Team
Afghanistan (AFG)         15   0.0   0.0   2.0   2.0
Algeria (ALG)             14   5.0   4.0   8.0  17.0
Argentina (ARG)           25  21.0  26.0  30.0  77.0
Armenia (ARM)              7   2.0   8.0   8.0  18.0
Australasia (ANZ) [ANZ]    2   3.0   4.0   5.0  12.0

In [4]:
print(summer.sort_values('금', ascending=False))

                                         경기 수       금       은       동        계
Team
Totals                                     29  5460.0  5429.0  5892.0  16781.0
United States (USA) [P] [Q] [R] [Z] [F]    28  1061.0   830.0   738.0   2629.0
Soviet Union (URS) [URS]                    9   395.0   319.0   296.0   1010.0
Great Britain (GBR) [GBR] [Z]              29   284.0   318.0   314.0    916.0
China (CHN) [CHN]                          11   263.0   199.0   174.0    636.0
...                                       ...     ...     ...     ...      ...
Paraguay (PAR)                             13     0.0     1.0     0.0      1.0
Olympic Athletes from Russia (OAR) [OAR]    0     0.0     0.0     0.0      0.0
San Marino (SMR)                           15     0.0     1.0     2.0      3.0
Saudi Arabia (KSA)                         12     0.0     2.0     2.0      4.0
Lebanon (LBN)                              18     0.0     2.0     2.0      4.0

[157 rows x 5 columns]

In [22]:
summer.to_excel('하계올림픽메달.xlsx')