In [2]:
import pandas as pd
from datetime import datetime, timedelta
from pandas.api.types import CategoricalDtype

pd.set_option('mode.chained_assignment',  None)
df_covid19 = pd.read_csv("owid-covid-data.csv")
df_covid19['date'] = pd.to_datetime(df_covid19['date'], format="%Y-%m-%d")
df_covid19_100 = df_covid19[(df_covid19['iso_code'].isin(['KOR', 'OWID_ASI', 'OWID_EUR', 
'OWID_OCE', 'OWID_NAM', 'OWID_SAM', 'OWID_AFR'])) 
& (df_covid19['date'] >= (max(df_covid19['date']) - timedelta(days = 100)))]
df_covid19_100.loc[df_covid19_100['location'] == 'South Korea', "location"] = '한국'
df_covid19_100.loc[df_covid19_100['location'] == 'Asia', "location"] = '아시아'
df_covid19_100.loc[df_covid19_100['location'] == 'Europe', "location"] = '유럽'
df_covid19_100.loc[df_covid19_100['location'] == 'Oceania', "location"] = '오세아니아'
df_covid19_100.loc[df_covid19_100['location'] == 'North America', "location"] = '북미'
df_covid19_100.loc[df_covid19_100['location'] == 'South America', "location"] = '남미'
df_covid19_100.loc[df_covid19_100['location'] == 'Africa', "location"] = '아프리카'
ord = CategoricalDtype(categories = ['한국', '아시아', '유럽', '북미', '남미', 
'아프리카','오세아니아'], ordered = True)
df_covid19_100['location'] = df_covid19_100['location'].astype(ord)
df_covid19_100 = df_covid19_100.sort_values(by = 'date')
df_covid19_100

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
2016,OWID_AFR,NaN,아프리카,2022-10-03,12358785.0,754.0,907.714,256770.0,6.0,5.714,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
163005,OWID_NAM,NaN,북미,2022-10-03,114321967.0,45451.0,52119.000,1513772.0,331.0,505.429,...,NaN,NaN,NaN,NaN,NaN,6.003237e+08,NaN,NaN,NaN,NaN
207753,OWID_SAM,NaN,남미,2022-10-03,63998029.0,15450.0,11810.571,1329632.0,375.0,123.429,...,NaN,NaN,NaN,NaN,NaN,4.368167e+08,NaN,NaN,NaN,NaN
12551,OWID_ASI,NaN,아시아,2022-10-03,185738973.0,84967.0,128301.714,1485943.0,205.0,284.429,...,NaN,NaN,NaN,NaN,NaN,4.721383e+09,NaN,NaN,NaN,NaN
208839,KOR,Asia,한국,2022-10-03,24848184.0,16423.0,24931.571,28528.0,19.0,36.571,...,40.9,NaN,12.27,83.03,0.916,5.181581e+07,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163105,OWID_NAM,NaN,북미,2023-01-11,120063294.0,145621.0,73160.571,1558538.0,1715.0,686.286,...,NaN,NaN,NaN,NaN,NaN,6.003237e+08,NaN,NaN,NaN,NaN
2116,OWID_AFR,NaN,아프리카,2023-01-11,12478788.0,2570.0,1035.000,257483.0,3.0,2.857,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
207853,OWID_SAM,NaN,남미,2023-01-11,67218847.0,30259.0,37207.286,1343185.0,108.0,163.571,...,NaN,NaN,NaN,NaN,NaN,4.368167e+08,NaN,NaN,NaN,NaN
72643,OWID_EUR,NaN,유럽,2023-01-11,245685768.0,44169.0,74124.857,2008476.0,503.0,710.143,...,NaN,NaN,NaN,NaN,NaN,7.448078e+08,NaN,NaN,NaN,NaN
208939,KOR,Asia,한국,2023-01-11,29698043.0,43953.0,47824.429,32821.0,76.0,57.143,...,40.9,NaN,12.27,83.03,0.916,5.181581e+07,NaN,NaN,NaN,NaN

In [3]:
df_covid19_100_wide = df_covid19_100.loc[:,['date', 'location', 'new_cases', 
'people_fully_vaccinated_per_hundred']].rename(columns={'new_cases':'확진자', 
'people_fully_vaccinated_per_hundred':'백신접종완료자'})
df_covid19_100_wide

             date location       확진자  백신접종완료자
2016   2022-10-03     아프리카     754.0    22.76
163005 2022-10-03       북미   45451.0    64.43
207753 2022-10-03       남미   15450.0    76.48
12551  2022-10-03      아시아   84967.0    71.77
208839 2022-10-03       한국   16423.0    85.73
...           ...      ...       ...      ...
163105 2023-01-11       북미  145621.0    65.50
2116   2023-01-11     아프리카    2570.0      NaN
207853 2023-01-11       남미   30259.0    77.53
72643  2023-01-11       유럽   44169.0    66.96
208939 2023-01-11       한국   43953.0    85.78

[707 rows x 4 columns]

In [4]:
df_covid19_100_wide = df_covid19_100_wide.pivot(index='date', columns='location', 
values=['확진자', '백신접종완료자']).sort_values(by = 'date')
df_covid19_100_wide

                확진자                                                          \
location         한국       아시아        유럽        북미       남미    아프리카    오세아니아
date
2022-10-03  16423.0   84967.0  168183.0   45451.0  15450.0   754.0   5145.0
2022-10-04  34710.0  149537.0  384493.0   61078.0   2379.0  1217.0   1536.0
2022-10-05  28603.0  149638.0  330710.0   80045.0  18412.0   780.0   3098.0
2022-10-06  22259.0  127116.0  394838.0   71088.0  14690.0   904.0  31919.0
2022-10-07  19379.0  124355.0  375601.0   67185.0   4412.0   533.0   2517.0
...             ...       ...       ...       ...      ...     ...      ...
2023-01-07  46766.0  340148.0    7571.0    7815.0   4419.0   323.0     14.0
2023-01-08  19106.0  257885.0    6582.0   13619.0  10472.0    85.0  25033.0
2023-01-09  60041.0  202819.0   60017.0   45707.0  49207.0  2230.0   1275.0
2023-01-10  54343.0  200777.0   49945.0   65600.0  81284.0   517.0   2657.0
2023-01-11  43953.0  284077.0   44169.0  145621.0  30259.0  2570.0   1438.0

           백신접종완료자
location        한국    아시아     유럽     북미     남미   아프리카  오세아니아
date
2022-10-03   85.73  71.77  66.58  64.43  76.48  22.76  61.67
2022-10-04   85.73  71.78  66.62  64.44  76.48  22.76  61.67
2022-10-05   85.73  71.80  66.63  64.45  76.48  22.76  61.68
2022-10-06   85.73  71.80  66.63  64.46  76.48  22.76  61.68
2022-10-07   85.73  71.81  66.63  64.79  76.53  22.76  61.68
...            ...    ...    ...    ...    ...    ...    ...
2023-01-07   85.78  72.24  66.94  65.50  77.53    NaN  61.89
2023-01-08   85.78  72.24  66.94  65.50  77.53    NaN  61.89
2023-01-09   85.78  72.24  66.94  65.50  77.53    NaN  61.89
2023-01-10   85.78  72.24  66.94  65.50  77.53    NaN  61.89
2023-01-11   85.78  72.28  66.96  65.50  77.53    NaN    NaN

[101 rows x 14 columns]

In [5]:
df_covid19_100_wide.columns = ['확진자_한국', '확진자_아시아', '확진자_유럽', '확진자_북미',  
'확진자_남미', '확진자_아프리카', '확진자_오세아니아', '백신접종완료자_한국', 
'백신접종완료자_아시아', '백신접종완료자_유럽', '백신접종완료자_북미', 
'백신접종완료자_남미', '백신접종완료자_아프리카', '백신접종완료자_오세아니아']
df_covid19_100_wide

,확진자_한국,확진자_아시아,확진자_유럽,확진자_북미,확진자_남미,확진자_아프리카,확진자_오세아니아,백신접종완료자_한국,백신접종완료자_아시아,백신접종완료자_유럽,백신접종완료자_북미,백신접종완료자_남미,백신접종완료자_아프리카,백신접종완료자_오세아니아
date,,,,,,,,,,,,,,
2022-10-03,16423.0,84967.0,168183.0,45451.0,15450.0,754.0,5145.0,85.73,71.77,66.58,64.43,76.48,22.76,61.67
2022-10-04,34710.0,149537.0,384493.0,61078.0,2379.0,1217.0,1536.0,85.73,71.78,66.62,64.44,76.48,22.76,61.67
2022-10-05,28603.0,149638.0,330710.0,80045.0,18412.0,780.0,3098.0,85.73,71.80,66.63,64.45,76.48,22.76,61.68
2022-10-06,22259.0,127116.0,394838.0,71088.0,14690.0,904.0,31919.0,85.73,71.80,66.63,64.46,76.48,22.76,61.68
2022-10-07,19379.0,124355.0,375601.0,67185.0,4412.0,533.0,2517.0,85.73,71.81,66.63,64.79,76.53,22.76,61.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-07,46766.0,340148.0,7571.0,7815.0,4419.0,323.0,14.0,85.78,72.24,66.94,65.50,77.53,NaN,61.89
2023-01-08,19106.0,257885.0,6582.0,13619.0,10472.0,85.0,25033.0,85.78,72.24,66.94,65.50,77.53,NaN,61.89
2023-01-09,60041.0,202819.0,60017.0,45707.0,49207.0,2230.0,1275.0,85.78,72.24,66.94,65.50,77.53,NaN,61.89
2023-01-10,54343.0,200777.0,49945.0,65600.0,81284.0,517.0,2657.0,85.78,72.24,66.94,65.50,77.53,NaN,61.89
2023-01-11,43953.0,284077.0,44169.0,145621.0,30259.0,2570.0,1438.0,85.78,72.28,66.96,65.50,77.53,NaN,NaN

In [6]:
df_covid19_stat = df_covid19.groupby(['iso_code', 'continent', 'location'], dropna=True).agg(
    인구수 = ('population', 'max'), 
    전체사망자수 = ('new_deaths', 'sum'), 
    백신접종자완료자수 = ('people_fully_vaccinated', 'max'), 
    인구백명당백신접종완료율 = ('people_fully_vaccinated_per_hundred', 'max'), 
    인구백명당부스터접종자수 = ('total_boosters_per_hundred', 'max')).reset_index()
df_covid19_stat['십만명당사망자수'] = round(df_covid19_stat['전체사망자수'] / 
                                    df_covid19_stat['인구수'] * 100000, 5)
df_covid19_stat['백신접종완료율'] = df_covid19_stat['백신접종자완료자수'] / \
df_covid19_stat['인구수']
margins_P = {'t' : 50, 'b' : 25, 'l' : 25, 'r' : 25}

In [7]:
df_covid19_stat = df_covid19.groupby(['iso_code', 'continent', 'location'], dropna=True).agg(
    인구수 = ('population', 'max'), 
    전체사망자수 = ('new_deaths', 'sum'), 
    백신접종자완료자수 = ('people_fully_vaccinated', 'max'), 
    인구백명당백신접종완료율 = ('people_fully_vaccinated_per_hundred', 'max'), 
    인구백명당부스터접종자수 = ('total_boosters_per_hundred', 'max'))
df_covid19_stat

,,,인구수,전체사망자수,백신접종자완료자수,인구백명당백신접종완료율,인구백명당부스터접종자수
iso_code,continent,location,,,,,
ABW,North America,Aruba,106459.0,340.0,84017.0,78.92,NaN
AFG,Asia,Afghanistan,41128772.0,7854.0,10825004.0,26.32,NaN
AGO,Africa,Angola,35588996.0,1933.0,8253873.0,23.19,4.09
AIA,North America,Anguilla,15877.0,13.0,10377.0,65.36,20.43
ALB,Europe,Albania,2842318.0,3596.0,1270016.0,44.68,13.27
...,...,...,...,...,...,...,...
WSM,Oceania,Samoa,222390.0,29.0,177721.0,79.91,35.69
YEM,Asia,Yemen,33696612.0,2159.0,761003.0,2.26,0.18
ZAF,Africa,South Africa,59893884.0,102245.0,21031216.0,35.11,6.47
ZMB,Africa,Zambia,20017670.0,4031.0,8622108.0,43.07,0.17
ZWE,Africa,Zimbabwe,16320539.0,5637.0,4751270.0,29.11,6.33

In [8]:
df_covid19_stat

,,,인구수,전체사망자수,백신접종자완료자수,인구백명당백신접종완료율,인구백명당부스터접종자수
iso_code,continent,location,,,,,
ABW,North America,Aruba,106459.0,340.0,84017.0,78.92,NaN
AFG,Asia,Afghanistan,41128772.0,7854.0,10825004.0,26.32,NaN
AGO,Africa,Angola,35588996.0,1933.0,8253873.0,23.19,4.09
AIA,North America,Anguilla,15877.0,13.0,10377.0,65.36,20.43
ALB,Europe,Albania,2842318.0,3596.0,1270016.0,44.68,13.27
...,...,...,...,...,...,...,...
WSM,Oceania,Samoa,222390.0,29.0,177721.0,79.91,35.69
YEM,Asia,Yemen,33696612.0,2159.0,761003.0,2.26,0.18
ZAF,Africa,South Africa,59893884.0,102245.0,21031216.0,35.11,6.47
ZMB,Africa,Zambia,20017670.0,4031.0,8622108.0,43.07,0.17
ZWE,Africa,Zimbabwe,16320539.0,5637.0,4751270.0,29.11,6.33

In [9]:
df_employ_rate = pd.read_excel('2021_employment_rate.xlsx',\
                              sheet_name = '학과별', skiprows=(13), header = 0)
df_employ_rate = pd.concat([df_employ_rate.iloc[:,0:8],
                           df_employ_rate.loc[:,df_employ_rate.columns.str.endswith('계')],\
                           df_employ_rate.loc[:,'입대자']],
                          axis = 1)
df_employ_rate

,조사기준일,학제,과정구분,대계열,중계열,소계열,학과코드,학과명,졸업자_계,취업률_계,...,1차 유지취업자_계,1차 유지취업률_계,2차 유지취업자_계,2차 유지취업률_계,3차 유지취업자_계,3차 유지취업률_계,4차 유지취업자_계,4차 유지취업률_계,입학당시 기취업자_계,입대자
0,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100002,관광일본어과,79,29.6,...,10,76.9,8,61.5,7,53.8,5,38.5,0,14
1,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100003,관광일본어전공,26,61.1,...,7,87.5,7,87.5,7,87.5,7,87.5,1,0
2,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100005,관광일어과,107,50.0,...,34,81.0,32,76.2,27,64.3,25,59.5,4,3
3,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100011,실무일본어과,109,52.3,...,29,72.5,27,67.5,24,60.0,21,52.5,4,0
4,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100013,일본어과,63,46.2,...,14,70.0,13,65.0,8,40.0,8,40.0,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9401,2021.12.31,기능대학,전문대학과정,예체능계열,디자인,기타디자인,C07010400310,주얼리디자인과,39,81.1,...,15,75.0,13,65.0,10,50.0,10,50.0,1,0
9402,2021.12.31,기능대학,전문대학과정,예체능계열,디자인,기타디자인,C07010400403,융합디자인과,33,87.1,...,15,68.2,15,68.2,15,68.2,15,68.2,0,1
9403,2021.12.31,기능대학,전문대학과정,예체능계열,디자인,기타디자인,C07010410015,스마트 제품디자인과,21,83.3,...,9,90.0,8,80.0,6,60.0,5,50.0,0,3
9404,2021.12.31,기능대학,전문대학과정,예체능계열,응용예술,영상·예술,C07020300014,영상그래픽과,14,84.6,...,7,100.0,7,100.0,6,85.7,6,85.7,0,1
9405,2021.12.31,기능대학,전문대학과정,예체능계열,무용ㆍ체육,체육,C07030200177,산업잠수과,26,54.5,...,8,80.0,8,80.0,8,80.0,8,80.0,0,3

In [10]:
df_employ_rate_500 = df_employ_rate.loc[(df_employ_rate['졸업자_계'] < 500)]

In [11]:
df_employ_rate_500.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            9396, 9397, 9398, 9399, 9400, 9401, 9402, 9403, 9404, 9405],
           dtype='int64', length=9250)

In [12]:
df_employ_rate_500 = df_employ_rate_500.iloc[range(0, len(df_employ_rate_500.index), 4)]
df_employ_rate_500

,조사기준일,학제,과정구분,대계열,중계열,소계열,학과코드,학과명,졸업자_계,취업률_계,...,1차 유지취업자_계,1차 유지취업률_계,2차 유지취업자_계,2차 유지취업률_계,3차 유지취업자_계,3차 유지취업률_계,4차 유지취업자_계,4차 유지취업률_계,입학당시 기취업자_계,입대자
0,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100002,관광일본어과,79,29.6,...,10,76.9,8,61.5,7,53.8,5,38.5,0,14
4,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100013,일본어과,63,46.2,...,14,70.0,13,65.0,8,40.0,8,40.0,4,4
8,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100049,항공호텔관광학부 일본어통역전공,40,37.5,...,5,62.5,5,62.5,5,62.5,5,62.5,0,2
12,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,중국어,C01010200003,관광중국어과,225,51.9,...,68,84.0,62,76.5,53,65.4,52,64.2,6,9
16,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,중국어,C01010200011,중국어과,5,60.0,...,3,100.0,2,66.7,2,66.7,2,66.7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9388,2021.12.31,기능대학,전문대학과정,자연계열,생물ㆍ화학ㆍ환경,생물,C05020100066,바이오품질관리과,28,89.3,...,25,100.0,25,100.0,23,92.0,23,92.0,0,0
9392,2021.12.31,기능대학,전문대학과정,의약계열,치료ㆍ보건,의료장비,C06020300002,의료공학과,1,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0
9396,2021.12.31,기능대학,전문대학과정,예체능계열,디자인,패션디자인,C07010300011,패션디자인과,21,87.5,...,8,80.0,6,60.0,5,50.0,4,40.0,0,2
9400,2021.12.31,기능대학,전문대학과정,예체능계열,디자인,기타디자인,C07010400214,금형디자인과,326,80.3,...,209,89.7,197,84.5,184,79.0,178,76.4,15,22
9404,2021.12.31,기능대학,전문대학과정,예체능계열,응용예술,영상·예술,C07020300014,영상그래픽과,14,84.6,...,7,100.0,7,100.0,6,85.7,6,85.7,0,1

In [13]:
df_employ_rate_500 = df_employ_rate_500.rename(columns = {'졸업자_계':'졸업자수', '취업률_계':'취업률', \
                                                          '취업자_합계_계':'취업자수'})
df_employ_rate_500

,조사기준일,학제,과정구분,대계열,중계열,소계열,학과코드,학과명,졸업자수,취업률,...,1차 유지취업자_계,1차 유지취업률_계,2차 유지취업자_계,2차 유지취업률_계,3차 유지취업자_계,3차 유지취업률_계,4차 유지취업자_계,4차 유지취업률_계,입학당시 기취업자_계,입대자
0,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100002,관광일본어과,79,29.6,...,10,76.9,8,61.5,7,53.8,5,38.5,0,14
4,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100013,일본어과,63,46.2,...,14,70.0,13,65.0,8,40.0,8,40.0,4,4
8,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,일본어,C01010100049,항공호텔관광학부 일본어통역전공,40,37.5,...,5,62.5,5,62.5,5,62.5,5,62.5,0,2
12,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,중국어,C01010200003,관광중국어과,225,51.9,...,68,84.0,62,76.5,53,65.4,52,64.2,6,9
16,2021.12.31,전문대학,전문대학과정,인문계열,언어ㆍ문학,중국어,C01010200011,중국어과,5,60.0,...,3,100.0,2,66.7,2,66.7,2,66.7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9388,2021.12.31,기능대학,전문대학과정,자연계열,생물ㆍ화학ㆍ환경,생물,C05020100066,바이오품질관리과,28,89.3,...,25,100.0,25,100.0,23,92.0,23,92.0,0,0
9392,2021.12.31,기능대학,전문대학과정,의약계열,치료ㆍ보건,의료장비,C06020300002,의료공학과,1,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0
9396,2021.12.31,기능대학,전문대학과정,예체능계열,디자인,패션디자인,C07010300011,패션디자인과,21,87.5,...,8,80.0,6,60.0,5,50.0,4,40.0,0,2
9400,2021.12.31,기능대학,전문대학과정,예체능계열,디자인,기타디자인,C07010400214,금형디자인과,326,80.3,...,209,89.7,197,84.5,184,79.0,178,76.4,15,22
9404,2021.12.31,기능대학,전문대학과정,예체능계열,응용예술,영상·예술,C07020300014,영상그래픽과,14,84.6,...,7,100.0,7,100.0,6,85.7,6,85.7,0,1

In [14]:
df_covid19_100.loc[df_covid19_100['iso_code'] == 'KOR', 'new_cases']

208839    16423.0
208840    34710.0
208841    28603.0
208842    22259.0
208843    19379.0
           ...
208935    46766.0
208936    19106.0
208937    60041.0
208938    54343.0
208939    43953.0
Name: new_cases, Length: 101, dtype: float64

In [15]:
for 대계열, group in df_employ_rate_500.groupby('대계열'):
    print(group.head())

          조사기준일    학제    과정구분   대계열 중계열    소계열          학과코드            학과명  \
517  2021.12.31  전문대학  전문대학과정  공학계열  건축  건축ㆍ설비  C04010100003          건축공학과
521  2021.12.31  전문대학  전문대학과정  공학계열  건축  건축ㆍ설비  C04010100053        건축소방설비과
525  2021.12.31  전문대학  전문대학과정  공학계열  건축  건축ㆍ설비  C04010100065  건축설비소방공학과(1년)
529  2021.12.31  전문대학  전문대학과정  공학계열  건축  건축ㆍ설비  C04010100070          건축조경과
534  2021.12.31  전문대학  전문대학과정  공학계열  건축     건축  C04010200005        건축인테리어과

     졸업자수   취업률  ...  1차 유지취업자_계  1차 유지취업률_계  2차 유지취업자_계  2차 유지취업률_계  \
517   251  78.1  ...         144        92.3         134        85.9
521    60  65.5  ...          30        93.8          30        93.8
525    31  66.7  ...          19        95.0          18        90.0
529    20  55.6  ...           7       100.0           7       100.0
534   127  66.3  ...          47        87.0          41        75.9

     3차 유지취업자_계  3차 유지취업률_계  4차 유지취업자_계  4차 유지취업률_계  입학당시 기취업자_계  입대자
517         130        83.3         125        80.1           51   11
521          30        93.8          28        87.5            1    3
525          17        85.0          17        85.0           12    1
529           6        85.7           5        71.4            3    1
534          41        75.9          39        72.2           11   27

[5 rows x 35 columns]
          조사기준일    학제    과정구분   대계열   중계열      소계열          학과코드  \
486  2021.12.31  전문대학  전문대학과정  교육계열  교육일반  사회ㆍ자연교육  C03010100011
493  2021.12.31  전문대학  전문대학과정  교육계열  유아교육     유아교육  C03020100021
497  2021.12.31  전문대학  전문대학과정  교육계열  유아교육     유아교육  C03020100033
501  2021.12.31  전문대학  전문대학과정  교육계열  유아교육     유아교육  C03020100055
505  2021.12.31  전문대학  전문대학과정  교육계열  유아교육     유아교육  C03020100064

                학과명  졸업자수   취업률  ...  1차 유지취업자_계  1차 유지취업률_계  2차 유지취업자_계  \
486         평생교육복지과    16  81.3  ...          13       100.0          13
493         아동미술보육과   159  81.2  ...          63        82.9          60
497           유아보육과     3  33.3  ...           1       100.0           1
501     유아교육학과(1년제)   313  84.2  ...         211        83.4         207
505  사회복지과 아동보육복지전공    56  71.7  ...          26        86.7          26

     2차 유지취업률_계  3차 유지취업자_계  3차 유지취업률_계  4차 유지취업자_계  4차 유지취업률_계  입학당시 기취업자_계  \
486       100.0          11        84.6          10        76.9            9
493        78.9          50        65.8          48        63.2            8
497       100.0           1       100.0           1       100.0            0
501        81.8         202        79.8         200        79.1           88
505        86.7          25        83.3          25        83.3            2

     입대자
486    0
493    0
497    0
501    0
505    2

[5 rows x 35 columns]
         조사기준일    학제    과정구분   대계열    중계열    소계열          학과코드       학과명  \
73  2021.12.31  전문대학  전문대학과정  사회계열  경영ㆍ경제  경영ㆍ경제  C02010100025     관광경영과
77  2021.12.31  전문대학  전문대학과정  사회계열  경영ㆍ경제  경영ㆍ경제  C02010100072    마케팅경영과
81  2021.12.31  전문대학  전문대학과정  사회계열  경영ㆍ경제  경영ㆍ경제  C02010100092      부동산과
85  2021.12.31  전문대학  전문대학과정  사회계열  경영ㆍ경제  경영ㆍ경제  C02010100123      상경계열
89  2021.12.31  전문대학  전문대학과정  사회계열  경영ㆍ경제  경영ㆍ경제  C02010100154  인터넷비즈니스과

    졸업자수   취업률  ...  1차 유지취업자_계  1차 유지취업률_계  2차 유지취업자_계  2차 유지취업률_계  \
73   493  64.0  ...         173        83.2         160        76.9
77    78  56.9  ...          29        96.7          24        80.0
81    56  71.7  ...          24        92.3          22        84.6
85    91  78.6  ...          38        88.4          37        86.0
89    47  69.7  ...          22        95.7          22        95.7

    3차 유지취업자_계  3차 유지취업률_계  4차 유지취업자_계  4차 유지취업률_계  입학당시 기취업자_계  입대자
73         137        65.9         129        62.0           21   10
77          21        70.0          21        70.0            2    5
81          22        84.6          22        84.6           15    2
85          35        81.4          34        79.1           17    4
89          21        91.3          21        91.3           18    4

[5 rows x 35 columns]
           조사기준일    학제    과정구분    대계열  중계열    소계열          학과코드        학과명  \
1297  2021.12.31  전문대학  전문대학과정  예체능계열  디자인  산업디자인  C07010100002  디지털산업디자인과
1301  2021.12.31  전문대학  전문대학과정  예체능계열  디자인  산업디자인  C07010100013    산업디자인학과
1305  2021.12.31  전문대학  전문대학과정  예체능계열  디자인  산업디자인  C07010100045    색채디자인학과
1309  2021.12.31  전문대학  전문대학과정  예체능계열  디자인  시각디자인  C07010200001    시각디자인계열
1313  2021.12.31  전문대학  전문대학과정  예체능계열  디자인  시각디자인  C07010200008  시각미디어디자인과

      졸업자수    취업률  ...  1차 유지취업자_계  1차 유지취업률_계  2차 유지취업자_계  2차 유지취업률_계  \
1297    10   62.5  ...           5       100.0           5       100.0
1301   153   78.4  ...          66        84.6          61        78.2
1305    13  100.0  ...           3        75.0           3        75.0
1309    25   47.6  ...           5        62.5           4        50.0
1313   124   54.5  ...          26        70.3          22        59.5

      3차 유지취업자_계  3차 유지취업률_계  4차 유지취업자_계  4차 유지취업률_계  입학당시 기취업자_계  입대자
1297           4        80.0           3        60.0            0    0
1301          50        64.1          49        62.8           13    4
1305           3        75.0           2        50.0            1    0
1309           3        37.5           3        37.5            0    2
1313          17        45.9          17        45.9            3    1

[5 rows x 35 columns]
           조사기준일    학제    과정구분   대계열    중계열 소계열          학과코드         학과명  \
1216  2021.12.31  전문대학  전문대학과정  의약계열     간호  간호  C06010100010  간호학과(1년과정)
1221  2021.12.31  전문대학  전문대학과정  의약계열  치료ㆍ보건  보건  C06020100014     산업안전관리과
1229  2021.12.31  전문대학  전문대학과정  의약계열  치료ㆍ보건  보건  C06020100042     의약품질분석과
1233  2021.12.31  전문대학  전문대학과정  의약계열  치료ㆍ보건  보건  C06020100051      응급구조학과
1237  2021.12.31  전문대학  전문대학과정  의약계열  치료ㆍ보건  보건  C06020100072   보건의료과(3년)

      졸업자수   취업률  ...  1차 유지취업자_계  1차 유지취업률_계  2차 유지취업자_계  2차 유지취업률_계  \
1216    12  83.3  ...          10       100.0           9        90.0
1221   125  63.5  ...          64        91.4          61        87.1
1229    82  71.3  ...          50        89.3          50        89.3
1233   122  84.6  ...          89        89.9          80        80.8
1237    16  54.5  ...           5        83.3           4        66.7

      3차 유지취업자_계  3차 유지취업률_계  4차 유지취업자_계  4차 유지취업률_계  입학당시 기취업자_계  입대자
1216           9        90.0           9        90.0            7    0
1221          59        84.3          59        84.3           11    2
1229          50        89.3          50        89.3            0    0
1233          75        75.8          73        73.7           51    3
1237           4        66.7           4        66.7            0    1

[5 rows x 35 columns]
         조사기준일    학제    과정구분   대계열    중계열  소계열          학과코드  \
0   2021.12.31  전문대학  전문대학과정  인문계열  언어ㆍ문학  일본어  C01010100002
4   2021.12.31  전문대학  전문대학과정  인문계열  언어ㆍ문학  일본어  C01010100013
8   2021.12.31  전문대학  전문대학과정  인문계열  언어ㆍ문학  일본어  C01010100049
12  2021.12.31  전문대학  전문대학과정  인문계열  언어ㆍ문학  중국어  C01010200003
16  2021.12.31  전문대학  전문대학과정  인문계열  언어ㆍ문학  중국어  C01010200011

                 학과명  졸업자수   취업률  ...  1차 유지취업자_계  1차 유지취업률_계  2차 유지취업자_계  \
0             관광일본어과    79  29.6  ...          10        76.9           8
4               일본어과    63  46.2  ...          14        70.0          13
8   항공호텔관광학부 일본어통역전공    40  37.5  ...           5        62.5           5
12            관광중국어과   225  51.9  ...          68        84.0          62
16              중국어과     5  60.0  ...           3       100.0           2

    2차 유지취업률_계  3차 유지취업자_계  3차 유지취업률_계  4차 유지취업자_계  4차 유지취업률_계  입학당시 기취업자_계  \
0         61.5           7        53.8           5        38.5            0
4         65.0           8        40.0           8        40.0            4
8         62.5           5        62.5           5        62.5            0
12        76.5          53        65.4          52        64.2            6
16        66.7           2        66.7           2        66.7            0

    입대자
0    14
4     4
8     2
12    9
16    0

[5 rows x 35 columns]
           조사기준일    학제    과정구분   대계열    중계열  소계열          학과코드           학과명  \
1026  2021.12.31  전문대학  전문대학과정  자연계열  농림ㆍ수산  농수산  C05010100008          축산계열
1030  2021.12.31  전문대학  전문대학과정  자연계열  농림ㆍ수산  농수산  C05010100024        특용작물학과
1034  2021.12.31  전문대학  전문대학과정  자연계열  농림ㆍ수산  농수산  C05010100028        수산양식학과
1038  2021.12.31  전문대학  전문대학과정  자연계열  농림ㆍ수산  농수산  C05010100033  협동조합경영과(2년제)
1042  2021.12.31  전문대학  전문대학과정  자연계열  농림ㆍ수산  농수산  C05010100037         약용식물과

      졸업자수   취업률  ...  1차 유지취업자_계  1차 유지취업률_계  2차 유지취업자_계  2차 유지취업률_계  \
1026   120  87.3  ...          39        84.8          38        82.6
1030    38  74.1  ...           5        62.5           5        62.5
1034    38  60.0  ...           6        66.7           6        66.7
1038    51  98.0  ...          49       100.0          47        95.9
1042    28  50.0  ...           5        50.0           3        30.0

      3차 유지취업자_계  3차 유지취업률_계  4차 유지취업자_계  4차 유지취업률_계  입학당시 기취업자_계  입대자
1026          35        76.1          35        76.1           14    4
1030           4        50.0           4        50.0            2    9
1034           5        55.6           5        55.6            0   16
1038          46        93.9          46        93.9            3    0
1042           2        20.0           2        20.0            1    0

[5 rows x 35 columns]

In [16]:
df_employ_rate_500.to_csv('df_employ_rate_500.csv', index=False)

In [17]:
temp = df_covid19_100.groupby('location').agg(new_cases = ('new_cases', 'sum'))
temp

           new_cases
location
한국         4866282.0
아시아       20658918.0
유럽        15951949.0
북미         5795211.0
남미         3237053.0
아프리카        124367.0
오세아니아      1352998.0

In [18]:
df_covid19_stat_tmp = df_covid19.groupby(['iso_code', 'continent', 'location'],
dropna=False).agg(
    인구수 = ('population', 'max'),
    전체사망자수 = ('new_deaths', 'sum'),
    백신접종자완료자수 = ('people_fully_vaccinated', 'max'),
    인구백명당백신접종완료율 = ('people_fully_vaccinated_per_hundred', 'max'),
    인구백명당부스터접종자수 = ('total_boosters_per_hundred', 'max')
).reset_index()

df_covid19_stat_tmp = df_covid19_stat_tmp.loc[df_covid19_stat_tmp['iso_code'].isin(
    ['OWID_HIC', 'OWID_LIC', 'OWID_LMC', 'OWID_UMC']), 
    ['location', '전체사망자수', '백신접종자완료자수', 
     '인구백명당백신접종완료율']].transpose()
df_covid19_stat_tmp

,162,165,166,172
location,High income,Low income,Lower middle income,Upper middle income
전체사망자수,2795260.0,48053.0,1337597.0,2495910.0
백신접종자완료자수,933520534.0,158902828.0,1983660394.0,1988056892.0
인구백명당백신접종완료율,74.65,21.54,57.8,78.71

In [19]:
df_covid19_stat_tmp = df_covid19_stat_tmp.rename(columns=df_covid19_stat_tmp.iloc[0]).\
drop(df_covid19_stat_tmp.index[0])

df_covid19_stat_tmp['sum'] = df_covid19_stat_tmp.sum(axis = 1)

df_covid19_stat_tmp

,High income,Low income,Lower middle income,Upper middle income,sum
전체사망자수,2795260.0,48053.0,1337597.0,2495910.0,6.676820e+06
백신접종자완료자수,933520534.0,158902828.0,1983660394.0,1988056892.0,5.064141e+09
인구백명당백신접종완료율,74.65,21.54,57.8,78.71,2.327000e+02

In [20]:
df_covid19_stat_tmp['High income'] = \
df_covid19_stat_tmp['High income'] / df_covid19_stat_tmp['sum']

df_covid19_stat_tmp['Low income'] = \
df_covid19_stat_tmp['Low income'] / df_covid19_stat_tmp['sum']

df_covid19_stat_tmp['Lower middle income'] = \
df_covid19_stat_tmp['Lower middle income'] / df_covid19_stat_tmp['sum']

df_covid19_stat_tmp['Upper middle income'] = \
df_covid19_stat_tmp['Upper middle income'] / df_covid19_stat_tmp['sum']

df_covid19_stat_tmp

,High income,Low income,Lower middle income,Upper middle income,sum
전체사망자수,0.418651,0.007197,0.200334,0.373817,6.676820e+06
백신접종자완료자수,0.184339,0.031378,0.391707,0.392575,5.064141e+09
인구백명당백신접종완료율,0.320799,0.092566,0.248388,0.338247,2.327000e+02

In [21]:
for income in df_covid19_stat_tmp:
    print(income)

High income
Low income
Lower middle income
Upper middle income
sum

In [26]:
df_employ_rate_500['졸업자수'].values.reshape(-1, 1)
df_

array([[ 79],
       [ 63],
       [ 40],
       ...,
       [ 21],
       [326],
       [ 14]])